<header>
    {% if page.header.img %}
        <div class="header-img d-flex mb-4" style="background-image: url('{{page.header.img}}');">
            {% unless page.header.txt-hide %}
                <div class="header-img-txt d-flex flex-fill justify-content-around align-items-center">
                    <div class="text-center" {% if page.header.txt-color %}style="color: {{ page.header.txt-color }};"{% endif %}>
                        {% if page.title %}<h1 class="xl">{{ page.title }}</h1>{% endif %}
                        {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
                    </div>
                </div>
            {% endunless %}
        </div>
    {% else %}
        {% unless page.header.txt-hide %}
            <div class="text-center my-5">
                {% if page.title %}<h1 class="xl">{{ page.title }}</h1>{% endif %}
                {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
            </div>
        {% endunless %}
    {% endif %}
</header>
